@import "./constants.less";

.page-header {
    font-family: "Merienda-Regular", "Cassandra", sans-serif;
    box-shadow: 5px 1px 5px @grey;
    z-index: 10;
    padding: 20px 0 0 !important;
    margin: 0 0 20px !important;

    .header-title {
        text-align: center;
        font-size: 250%;
        box-shadow: none;
    }

    .menu-panel {
        text-align: center;
        height: 40px;

        .menu-element {
            padding: 10px;
            min-width: 120px;
            display: inline-block;
            height: 40px;

            &.active {
                background: linear-gradient(to right, @light-grey 0%, @light-grey 100%);
                pointer-events: none;
                cursor: default;
            }

            &:hover {
                background: linear-gradient(to right, @light-grey 0%, @light-grey 100%);
                cursor: hand;
            }
        }
    }
}


#videoCard {
        position: inherit;
        width: 100%;
        height: 550px;
        padding: 0 0.5rem;
        }
img.responsive-img, video.responsive-video {
        position: inherit;
        width: 100%;
        height: 300px;
    }
#actions{
  position: inherit;
  #txtArea{
        height: 65px;
        position:inherit;
    }
}


#chipsContainer {
    display: flex;
    flex-wrap: wrap;
    h3{
        margin: 0 0 0 0 !important;
    }
    div {
        margin: 5px 5px 0 0 !important;
    }
}