{% extends 'base.html' %}
{% block content %}

  <div class="row">
  <div class="col s3">
      <div class="card-panel">
          <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" class="col s10" >
          <p></p>
          <p><span class="cr_txt">Зарегестрирован:</span></p>
          <p><span class="cr_txt">Статус:</span></p>
          <p><span class="cr_txt">Количество постов через сайт:</span></p>
      </div>
  </div>
  <div class="col s9">
      <h3>Привязанные аккаунты</h3>
      {% for key in accounts %}
       <div class="col s12 card-panel">
          <div class="col s3">
              <span class="cr_txt">Instagram:</span>
          </div>
          <div class="col s3">
              <span class="cr_txt">Количество подписчиков:</span>
          </div>
          <div class="col s3">
              <span class="cr_txt">Количество записей:</span>
          </div>
          <div class="col s3">
              <span class="cr_txt">Действий на сайте:</span>
          </div>
      </div>
      {% endfor %}

  </div>
  </div>
{% endblock %}
