<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Instagram</title>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  </head>
  <body>
  <ul id="dropdown1" class="dropdown-content">
      <li><a href="{{ url_for('upload') }}">Загрузить видео</a></li>
  </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="{{ url_for('tracking') }}">Бот</a></li>
      <li><a href="{{ url_for('upload') }}">Биржа рекламы</a></li>
  </ul>
<nav>
  <div class="nav-wrapper teal lighten-2">
    <a href="{{ url_for('index') }}" class="brand-logo">Home Page</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{ url_for('account') }}">Аккаунт</a></li>
      <li><a href="{{ url_for('logout') }}">Выход</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Действия<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Продвижение<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>


    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li><a class="btn" data-position="bottom" data-delay="50" data-tooltip="Message">{{ message }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='scripts/js/bundle.js') }}"></script>
  </body>
</html>