<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Instagram</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
    <body>
{% if g.user.is_authenticated %}
<p>You're logged in already!</p>
{% else %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li><a class="btn" data-position="bottom" data-delay="50" data-tooltip="Message">{{ message }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container">
    <div class="col s6 z-depth-1 card-panel" style="width:500px; margin-left:25% ">
        <form class="col s3" action="/login" method="POST">
            {{ form.hidden_tag() }}
            <h2 class="form-signin-heading">Вход пользователя</h2>
            <div class="section"></div>
        <div class="row">
            {{ form.username(placeholder="Имя пользователя", class="validate") }}
        </div>
        <div class="row">
            {{ form.password(placeholder="Пароль", class="validate")  }}
        </div>
         <button class="btn  waves-effect" type="submit">Войти</button>
        </form>
        <a href ="/singup" >
                <button class="btn  waves-effect"><i class="material-icons right">cloud</i>Регистрация</button>
          </a>
         {% if  form.errors %}
             {% for field, errors in form.errors.items()  %}
              <p class="alert alert-danger" role="alert">
                    {{ field }} - {{ errors[0] }}
              </p>
             {% endfor %}
         {% endif %}

    </div>
    </div>
    </body>
    </html>
{% endif %}
