<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Instagram</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </head>
    <body>
    <div class="container">
    <div class="col s6 z-depth-1 card-panel" style="width:500px; margin-left:25% ">
        <form class="col s3" action="/singup" method="POST">
            {{ form.hidden_tag() }}
            <h2 class="form-signin-heading">Регистрация пользователя</h2>
            <div class="section"></div>
        <div class="row">
            {{ form.email(placeholder="Почта", class="validate") }}
        </div>
        <div class="row">
            {{ form.username(placeholder="Имя пользователя", class="validate") }}
        </div>
        <div class="row">
            {{ form.password(placeholder="Пароль", class="validate")  }}
        </div>
         <button class="btn  waves-effect" type="submit">Зарегестрироваться</button>
        </form>
         {% if  form.errors %}
             {% for field, errors in form.errors.items()  %}
              <p class="alert alert-danger" role="alert">
                    {{ field }} - {{ errors[0] }}
              </p>
             {% endfor %}
         {% endif %}

    </div>
    </div>
    </body>
    </html>

