{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="col s12 card-panel">
        <form class="col s6" action="/upload" method="POST" enctype="multipart/form-data">
            <h2 class="form-signin-heading">Выберете файл для загрузки</h2>
            <div class="row">
            <div class="section"></div>
                <div class="col s6">
                 <div class="file-field input-field">
                  <div class="btn">
                    <span>Видео</span>
                    <input type="file" name="video-file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" name = "file-path">
                  </div>
                </div>
                </div>
              <div class="col s6">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>Фоновая заставка</span>
                    <input type="file" name="image-file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" name = "file-path">
                  </div>
                </div>
              </div>
                </div>
            <textarea type="text" name="tags" placeholder="Описани с тегами" class="validate"></textarea>
            <div class="section"></div>
            <button class="btn  waves-effect" type="submit">Загрузить</button>
        </form>
    </div>
</div>


{% endblock %}